/*.app-container {
  margin-left: 260px; 
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  background-color: #f3f3f3;
}
*/

.app-container {
  display: flex;
  height: 100vh;
  background-color: #f3f3f3;
}

.main-content {
  margin-left: 260px; /* same width as sidebar */
  flex: 1;
  padding: 24px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  background-color: #f5f6fa;
}


